<h1>Old Tables</h1>

<table id="old_table_id" class="display table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Username</th>
      <th>E-mail</th>
      <th>Hometown</th>
    </tr>
  </thead>


 <% @old_tables.each do |record| %>
 <tr>
  <td><%= record.title %></td>
  <td><%= record.name %></td>
  <td><%= record.username %></td>
  <td><%= record.email %></td>
  <td><%= record.hometown %></td>
  </tr>
<% end %>
<%= will_paginate @old_tables %>
<hr />

<%= link_to 'New Old Table', new_old_table_path %>
